# Environment variables
.env
.env.*
!.env_example

# Virtual environments
.env/
.venv/
venv/
env/

# Logs
*.log
server.log
granite_vision.log
granite_extractor_test.log
granite_vision_test.log

# Python cache
__pycache__/
*.py[cod]
*$py.class

uploads/